.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profileCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02), 0 0 0 1px rgba(27, 31, 35, 0.15);
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.profileImage {
  border-radius: 50%;
}

.profileName {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.profileRole {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.resumeContainer {
  text-align: center;
}


.bottomBar {
  display: flex;
  justify-content: space-between;
}


.summary {
  display: flex;
  justify-content: center;
}

.statBox {
  max-width: 120px;
  margin-right: 10px;
}

.count {
  font-size: 2rem;
  font-weight: 900;
  color: var(--bs-primary);
}

.label {
  color: white;
  text-transform: uppercase;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.socialMediaButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profileName {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .profileRole,
  .collegeName {
    font-size: 1rem;
  }

  .bottomBar {
    flex-direction: column;
  }

  .summary {
    margin-bottom: 20px;
  }

  .statBox {
    margin: 0px 10px;
    text-align: center;
  }


  .socialMediaButton {
    margin: 0px 10px;
  }
}